# Aufgabe 2: The World of Fashion

## üìú Datensatz√ºbersicht

Dieser Datensatz enth√§lt **3.400 Datens√§tze** zu Modeeinzelhandelsums√§tzen und erfasst verschiedene Details zu Kundenk√§ufen, darunter Artikeldetails, Kaufbetr√§ge, Bewertungen und Zahlungsmethoden. 
Er ist n√ºtzlich f√ºr die Analyse des Kundenkaufverhaltens, der Produktpopularit√§t und der Zahlungspr√§ferenzen.

## üîç Wichtige Erkenntnisse

- Der Datensatz enth√§lt **3.400 Transaktionen**.
- Fehlende Werte:
  - **Purchase Amount (USD)**: 650 fehlende Werte
  - **Review Rating**: 324 fehlende Werte
- **Payment Method** umfasst mehrere Kategorien (erm√∂glicht Analyse der Zahlungstrends).
- **Date Purchase** liegt im Format **TT-MM-JJJJ** vor (geeignet f√ºr Zeitreihenanalyse).
- Der Datensatz eignet sich zur Analyse von **Verkaufstrends**, **Kundenpr√§ferenzen** und **Zahlungsverhalten** im Modeeinzelhandel.

## üìä M√∂gliche Anwendungsf√§lle

- **Verkaufsanalyse**: Verstehen, welche Modeartikel sich am besten verkaufen.
- **Kundeneinblicke**: Analyse des Kaufverhaltens und der Ausgabemuster.
- **Trendprognose**: Erkennen saisonaler Trends im Modeeinzelhandel.
- **Bevorzugte Zahlungsmethoden**: Verstehen, wie Kunden am liebsten bezahlen.

## üìÇ Spaltenbeschreibung

| Spaltenname               | Datentyp       | Beschreibung |
|----------------------------|----------------|--------------|
| Customer Reference ID     | Ganze Zahl     | Eindeutige Kennung f√ºr jeden Kunden |
| Item Purchased             | Zeichenfolge   | Name des gekauften Modeartikels |
| Purchase Amount (USD)      | Schwimmzahl    | Kaufpreis des Artikels in USD (650 fehlende Werte) |
| Date Purchase              | Zeichenfolge   | Datum des Kaufs (Format: TT-MM-JJJJ) |
| Review Rating              | Schwimmzahl    | Kundenbewertung (Skala 1 bis 5; 324 fehlende Werte) |
| Payment Method             | Zeichenfolge   | Verwendete Zahlungsmethode (z. B. Kreditkarte, Bargeld) |

---

## ‚úÖ Aufgabenstellung

- Lade den Datensatz in Pandas.
- Verschaffe dir einen ersten √úberblick (Anzahl Zeilen/Spalten, Spaltennamen, fehlende Werte).
- Konvertiere das Kaufdatum (`Date Purchase`) in ein Datumstyp-Format.
- Berechne Durchschnittswerte f√ºr Kaufbetr√§ge und Bewertungen.
- Finde die beliebtesten Artikel und Zahlungsmethoden.
- Erstelle verschiedene Visualisierungen (Balkendiagramme, Kuchendiagramme, Histogramme, Zeitreihendiagramme).
- Untersuche Zusammenh√§nge zwischen Kaufbetrag und Bewertung.
- Analysiere saisonale Trends und segmentiere Kunden basierend auf ihrem Kaufverhalten.

---

> **Hinweis**: F√ºhre alle Analysen schrittweise durch, erkl√§re deine Vorgehensweise mit kurzen Kommentaren und beschrifte deine Diagramme verst√§ndlich!

---

**Viel Erfolg!** üöÄ

In [1]:
# Testen ob Jupyter Notebook funktioniert

print("Hello World!")

Hello World!

In [4]:
# erforderliche Bibliotheken

import pandas as pd
import plotly.express as px

In [6]:
# Laden die CSV Datei hoch (Fashion_Retail_Sales)
df = pd.read_csv("../data/Fashion_Retail_Sales.csv")

In [ ]:
# Spaltennamen auslesen
# Google Schlagw√∂rter: how to get columns names in pandas
# Beispielsquelle: https://www.boardinfinity.com/blog/how-to-get-column-names-in-pandas/
print(df.columns.to_list())

['Customer Reference ID', 'Item Purchased', 'Purchase Amount (USD)', 'Date Purchase', 'Review Rating', 'Payment Method']

In [ ]:
# √Ñndere die Spaltennamen zur ['customer id', 'item name', 'amount_usd', 'date', 'review_rating', 'payment_method']
# Googleschlagw√∂rter: how to change csv column name in pandas
#Beispielsquelle: https://www.geeksforgeeks.org/rename-column-name-with-an-index-number-of-the-csv-file-in-pandas/

df = df.rename(columns={df.columns[0]:"customer id"})

      customer_id Item Purchased  Purchase Amount (USD) Date Purchase  \
0            4018        Handbag                 4619.0    05-02-2023
1            4115          Tunic                 2456.0    11-07-2023
2            4019       Tank Top                 2102.0    23-03-2023
3            4097       Leggings                 3126.0    15-03-2023
4            3997         Wallet                 3003.0    27-11-2022
...           ...            ...                    ...           ...
3395         4118         Shorts                   37.0    09-07-2023
3396         4056       Slippers                  176.0    16-03-2023
3397         3991         Onesie                    NaN    03-10-2022
3398         4042        Sandals                  128.0    01-01-2023
3399         4001       Backpack                  115.0    22-03-2023

      Review Rating Payment Method
0               NaN    Credit Card
1               2.0    Credit Card
2               4.1           Cash
3               3.2           Cash
4               4.7           Cash
...             ...            ...
3395            2.7           Cash
3396            2.5           Cash
3397            2.4    Credit Card
3398            1.8           Cash
3399            1.4           Cash

[3400 rows x 6 columns]